@import "https://ym-cl-dev.netlify.app/components/component.css";

:root {
  --z-index-header-5: 5;
  
  --media-query-xs: 480px;
  --media-query-sm: 640px;
  --media-query-md: 768px;
  --media-query-lg: 1024px;
  --media-query-xl: 1280px;
  --media-query-2xl: 1536px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0rem;
  background-color: var(--color-main-bg);
  scroll-behavior: smooth;
}

/* header Section */
.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header-5);
  margin-bottom: 8px;
}

/* Footer Section */
.footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--color-green-100);
  text-align: center;
}

.footer-flex{
  display: flex;
  justify-content: center;
}

.social-links {
  font-size: 1.5rem;
  margin-right: 1.8rem;
  color: var(--color-black);
}
