@import "../../common.css";

/* Main Section */
.main {
  margin: 2rem 15rem;
  padding: 1rem;
  border: 2px solid var(--color-black);
  border-radius: 1rem;
}

.image-container {
    width: 23rem;
    height: 14rem;
}

.image-container img {
    border-radius: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width-16rem {
    width: 16rem;
}

.margin-lr-3rem {
    margin: 0 3rem;
}

.main a {
    display: block;
}

.text-center button {
    margin-top: 8px; 
    padding: 1em 2em;
}
