@import "../../common.css";

/* Main Section */
.main {
  margin: 2rem 15rem;
  padding: 1rem;
  border: 2px solid var(--color-black);
  border-radius: 1rem;
}

.image-container {
    width: 23rem;
    height: 14rem;
}

.image-container img {
    border-radius: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.width-15 {
    width: 16rem;
}

.margin-2 {
    margin: 0 3rem;
}

.text-center button {
    margin-top: 8px; 
}
