@import "../../common.css";

/* Main Section */
.main {
    width: 45%;
    margin: 8px auto;
}

.m-bottom {
    margin-bottom: 1.5rem;
}

.answer{
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 14px;
    color: var(--color-white);
    background-color: var(--color-green-600);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-direction {
    flex-direction: column
}

.correct-answer {
    background-color: var(--color-green-400);
}

.wrong-answer {
    background-color: var(--color-red);
}
